#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
}


*{
  /* background-color: rgba(28, 209, 241, 0.15); */

}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
}